@page "/pos"
@layout MainLayout
@inject BisleriumCafe.Data.Repositories.Repository<Product> ProductRepository;
@inject BisleriumCafe.Data.Repositories.Repository<Member> MemberRepository;
@inject BisleriumCafe.Data.Repositories.Repository<Transaction> TransactionRepository;
@inject ISnackbar Snackbar

@using MudBlazor

<MudContainer>
    <MudGrid>
        <!-- Product Cards Column -->
        <MudItem xs="12" md="8">
            <MudText Typo="Typo.h4" Class="section-header">Coffee</MudText>
            <hr />
            <MudGrid>
                @foreach (var product in Products)
                {
                    <!-- Check the product type (assuming a ProductType property on the product) -->
                    @if (product.ProductType == ProductType.Coffee)
                    {
                        <MudItem>
                            <MudCard Class="product-card" @onclick="() => AddToCart(product)" style="transition: background-color 0.3s; cursor: pointer;">
                                <MudCardContent>
                                    <MudText Typo="Typo.h6">@product.Name</MudText>
                                    <MudText Typo="Typo.subtitle2">Price: NPR @product.Price</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    }
                }
            </MudGrid>
            <hr />
        </MudItem>
        <MudDivider Orientation="Orientation.Vertical" Class="vertical-line" />

        <!-- Add-Ons Section -->
        <MudItem xs="12" md="8">
            <MudText Typo="Typo.h4" Class="section-header">Add-Ons</MudText>
            <hr />
            <MudGrid>
                @foreach (var product in Products)
                {
                    <!-- Check the product type (assuming a ProductType property on the product) -->
                    @if (product.ProductType == ProductType.AddOn)
                    {
                        <MudItem>
                            <MudCard Class="product-card" @onclick="() => AddToCart(product)" style="transition: background-color 0.3s; cursor: pointer;">
                                <MudCardContent>
                                    <MudText Typo="Typo.h6">@product.Name</MudText>
                                    <MudText Typo="Typo.subtitle2">Price: NPR @product.Price</MudText>
                                </MudCardContent>
                            </MudCard>
                        </MudItem>
                    }
                }
            </MudGrid>
            <hr />
        </MudItem>

        <!-- Shopping Cart Column -->
        <MudItem xs="12" md="4" Class="fixed-cart">
            <MudPaper style="padding: 20px; border: 1px solid #ddd; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" Class="shopping-cart">
                <MudText Typo="Typo.h4" Style="padding-bottom:40px">Shopping Cart</MudText>
                <ul>
                    @foreach (var cartItem in ShoppingCart)
                    {
                        <li>
                            <MudGrid AlignItems="AlignItems.Center">
                                <MudItem xs="8">
                                    <MudText Typo="Typo.h6">@cartItem.Product.Name</MudText>
                                    <MudText Typo="Typo.body1">NPR @cartItem.Product.Price</MudText>
                                </MudItem>
                                <MudItem xs="4" Class="text-right">
                                    <div style="display: flex; align-items: center; justify-content: space-around;">
                                        <div style="background-color: white; border-radius: 50%; border: 1px solid black; padding: 2px; margin:10px">
                                            <MudIconButton Icon="@Icons.Material.Filled.Remove" OnClick="() => DecreaseQuantity(cartItem)" Class="icon-button"></MudIconButton>
                                        </div>
                                        <MudText Typo="Typo.h6">@cartItem.Quantity</MudText>
                                        <div style="background-color: white; border-radius: 50%; border: 1px solid black; padding: 2px; margin: 10px">
                                            <MudIconButton Icon="@Icons.Material.Filled.Add" OnClick="() => IncreaseQuantity(cartItem)" Class="icon-button"></MudIconButton>
                                        </div>
                                    </div>
                                </MudItem>
                            </MudGrid>
                        </li>
                    }
                </ul>


                <MudDivider Orientation="Orientation.Vertical" Class="vertical-line" />

                <!-- Check if the member is found and regular -->
                @if (FoundMember != null)
                {
                    if (isRegular)
                    {
                        <MudGrid AlignItems="AlignItems.Center">
                            <!-- Subtotal -->
                            <MudItem xs="10" md="6">
                                <MudText Typo="Typo.body1" Class="mt-2">Subtotal:</MudText>
                            </MudItem>
                            <MudItem xs="10" Class="text-right" md="4">
                                <MudText Typo="Typo.h6">@CalculateTotal()</MudText>
                            </MudItem>

                            <!-- Discount -->
                            <MudItem xs="10" md="6">
                                <MudText Typo="Typo.body1" Class="mt-2">Discount:</MudText>
                            </MudItem>
                            <MudItem xs="10" md="4" Class="text-right">
                                <MudText Typo="Typo.h6">- NPR @CalculateRegularCustomerDiscount()</MudText>
                            </MudItem>
                        </MudGrid>

                    }
                    <!-- Horizontal line -->
                    <MudDivider Orientation="Orientation.Vertical" Class="vertical-line" />
                    <MudGrid AlignItems="AlignItems.Center">
                        <MudItem xs="10" md="6">
                            <MudText Typo="Typo.body1" Style="margin-bottom:10px">
                                Total:
                            </MudText>
                        </MudItem>
                        <MudItem>
                            <MudText Typo="Typo.h6">
                                NPR @(isRegular ? CalculateTotalWithDiscount() : CalculateTotal())
                            </MudText>

                        </MudItem>

                    </MudGrid>

                }
                else
                {
                    <!-- Horizontal line -->
                    <hr class="mt-2 mb-2" />
                    <MudGrid AlignItems="AlignItems.Center">
                        <MudItem xs="10" md="6">
                            <MudText Typo="Typo.body1" Style="margin-bottom:10px">
                                Total:
                                </MudText>
                        </MudItem>
                        <MudItem>
                            <MudText Typo="Typo.h6">NPR @CalculateTotal()</MudText>
                        </MudItem>
                    </MudGrid>
                        }




                <!-- Button for searching member -->
                @if (!MemberFound)
                {
                    <!-- Text input for member username or phone number -->
                    <MudTextField Label="Member Username or Phone" @bind-Value="MemberInput" Style="margin-top:30px"/>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SearchMember" Class="button">Search Member</MudButton>
                }

                <!-- Show the found member information if a member is found -->
                @if (MemberFound && FoundMember != null)
                {
                    <!-- Set the found username in the text box -->
                    <MudTextField Label="Member Username" @bind-Value="FoundMember.UserName" ReadOnly="true" />

                    <!-- Show the full member name below the text box -->
                    <MudText Typo="Typo.body1">Full Name: @FoundMember.FullName</MudText>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ClearMember" Class="button">Clear Member</MudButton>
                }

                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Checkout" Class="button">Checkout</MudButton>
            </MudPaper>
        </MudItem>


    </MudGrid>
</MudContainer>

<style>
    .section-header {
        margin-bottom: 10px;
    }

    .product-card {
        border: 1px solid #704332;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 16px;
        margin: 8px;
        text-align: center;
        width: 300px;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center; /* Vertically center the content */
    }

    .product-card:hover {
        opacity: 0.8;
    }

    .product-card:active {
        opacity: 0.5;
    }

    .fixed-cart {
        position: fixed;
        top: 100px;
        right: 100px;
        width: 500px;
        height: 1000px;
        z-index: 1000; /* Adjust z-index as needed */
    }

    .button {
        margin: 10px;
    }

</style>