@page "/pos"
@layout MainLayout
@inject BisleriumCafe.Data.Repositories.Repository<Product> ProductRepository;
@inject BisleriumCafe.Data.Repositories.Repository<Member> MemberRepository;
@inject BisleriumCafe.Data.Repositories.Repository<Transaction> TransactionRepository;
@inject ISnackbar Snackbar

@using MudBlazor

<MudContainer>
    <MudGrid>
        <!-- Product Cards Column -->
        <MudItem xs="12" md="8">
            <MudGrid>
                @foreach (var product in Products)
                {
                    <MudItem>
                        <MudCard Class="product-card" @onclick="() => AddToCart(product)" style="transition: background-color 0.3s; cursor: pointer;">
                            <!--<MudCardMedia>-->
                                @* <img src="@product.ImageUrl" alt="@product.Name" /> *@
                            <!--</MudCardMedia>-->
                            <MudCardContent>
                                <MudText Typo="Typo.h6">@product.Name</MudText>
                                    <MudText Typo="Typo.subtitle2">Price: Rs. @product.Price</MudText>
                                </MudCardContent>
                                @*<MudCardActions>
                                    <MudButton Variant="Variant.Outlined" OnClick="() => AddToCart(product)">Add to Cart</MudButton>
                                </MudCardActions>*@
                            </MudCard>

                    </MudItem>
                }
            </MudGrid>
        </MudItem>

        <!-- Shopping Cart Column -->
        <MudItem xs="12" md="4">
            <MudPaper style="padding: 16px; border: 1px solid #ddd; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" Class="shopping-cart">
                <MudText Typo="Typo.h5">Shopping Cart</MudText>
                <ul>
                    @foreach (var cartItem in ShoppingCart)
                    {
                        <li>
                            <MudIconButton Icon="@Icons.Material.Filled.Remove" Color="Color.Secondary" OnClick="() => DecreaseQuantity(cartItem)">-</MudIconButton>
                            @cartItem.Product.Name - Rs. @cartItem.Product.Price - Quantity: @cartItem.Quantity
                            <MudIconButton Icon="@Icons.Material.Filled.Add" Color="Color.Primary" OnClick="() => IncreaseQuantity(cartItem)">+</MudIconButton>
                        </li>
                    }
                </ul>



                <!-- Check if the member is found and regular -->
                @if (FoundMember != null)
                {
                    if (isRegular)
                    {
                        <MudText Typo="Typo.body1" Class="mt-2">Subtotal: <span class="h6">Rs. @CalculateTotal()</span></MudText>
                        <MudText Typo="Typo.body1" Class="mt-2">Discount: - <span class="h6">Rs. @CalculateRegularCustomerDiscount()</span></MudText>

                    }
                    <!-- Horizontal line -->
                    <hr class="mt-2 mb-2" />
                    <MudText Typo="Typo.h5">
                        Total:
                        <span class="h6">
                            Rs. @(isRegular ? CalculateTotalWithDiscount() : CalculateTotal())
                        </span>
                    </MudText>

                }
                else
                {
                    <!-- Horizontal line -->
                    <hr class="mt-2 mb-2" />
                    <MudText Typo="Typo.h5">Total: <span class="h6">Rs. @CalculateTotal()</span></MudText>
                }




                <!-- Button for searching member -->
                @if (!MemberFound)
                {
                    <!-- Text input for member username or phone number -->
                    <MudTextField Label="Member Username or Phone" @bind-Value="MemberInput" />
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SearchMember">Search Member</MudButton>
                }

                <!-- Show the found member information if a member is found -->
                @if (MemberFound && FoundMember != null)
                {
                    <!-- Set the found username in the text box -->
                    <MudTextField Label="Member Username" @bind-Value="FoundMember.UserName" ReadOnly="true" />

                    <!-- Show the full member name below the text box -->
                    <MudText Typo="Typo.body1">Full Name: @FoundMember.FullName</MudText>
                    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="ClearMember">Clear Member</MudButton>
                }

                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Checkout">Checkout</MudButton>
            </MudPaper>
        </MudItem>


    </MudGrid>
</MudContainer>

<style>
    .product-card {
        border: 1px solid #ddd;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 16px;
        margin: 8px;
        text-align: center;
    }

        .product-card:hover {
            /*            background-color: #f0f0f0;*/
            opacity: 0.8;
        }

        .product-card:active {
            opacity: 0.5;
        }
</style>